<div class="container">
	<footer class="footer">
		<small>
			Copyright &copy; <a href="https://www.google.com">The copyright phrase of the blog</a>
			by <a href="https://www.google.com">Allen Greshen Koch</a>
		</small>
		<nav>
			<ul>
				<li><%= link_to "About", about_path %></li>
			</ul>
		</nav>
	</footer>
</div>